<form class="filter-wrap" [formGroup]="filterForm">

  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Types</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of typeList" [value]="type.value">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Platform</mat-label>
      <mat-select formControlName="platform">
        <mat-option *ngFor="let platform of platformsList" [value]="platform.value">
          {{platform.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Limit</mat-label>
      <mat-select formControlName="limit">
        <mat-option *ngFor="let limit of limitList" [value]="limit.value">
          {{limit.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="field-search">

<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Search for a name</mat-label>-->
<!--      <mat-icon matPrefix>search</mat-icon>-->
<!--      <input type="search" matInput [formControl]="searchControl">-->
<!--    </mat-form-field>-->


    <mat-form-field class="field-search__container">
      <mat-label>Search for a name</mat-label>
      <mat-icon matPrefix>search</mat-icon>

      <input matInput
             aria-label="State"
             [matAutocomplete]="auto"
             [formControl]="searchControl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of users$ | async" [value]="user.username" (onSelectionChange)="getSelectedUser(user)">
          <span class="users">

            <span class="users__imgName">
              <img alt="" class="users__img" [src]="user.picture">
              <span class="users__names">
                <span class="users__username">@{{user.username}}</span>
                <span class="users__fullname">{{user.fullname}}</span>
              </span>
            </span>

            <div class="users__followers">{{user.followers}}</div>
          </span>


        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


  </div>

<!--  <div class="converter-form__btn">-->
<!--    <button type="submit"-->
<!--            mat-raised-button color="primary"-->
<!--            (click)="getFormValue()">-->
<!--      getFormValue()-->
<!--    </button>-->
<!--  </div>-->


</form>

<button mat-button (click)="openDialog()">Open dialog</button>

<!--<pre>{{users | json}}</pre>-->
<!--<pre>{{postsSelectedUser | json}}</pre>-->

