<form class="filter-wrap" [formGroup]="filterForm">

  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Types</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of typeList" [value]="type.value">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Platform</mat-label>
      <mat-select formControlName="platform">
        <mat-option *ngFor="let platform of platformsList" [value]="platform.value">
          {{platform.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Limit</mat-label>
      <mat-select formControlName="limit">
        <mat-option *ngFor="let limit of limitList" [value]="limit.value">
          {{limit.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="field-search">

<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Search for a name</mat-label>-->
<!--      <mat-icon matPrefix>search</mat-icon>-->
<!--      <input type="search" matInput [formControl]="searchControl">-->
<!--    </mat-form-field>-->


    <mat-form-field class="example-full-width">
      <mat-label>Search for a name</mat-label>
      <mat-icon matPrefix>search</mat-icon>

      <input matInput
             aria-label="State"
             [matAutocomplete]="auto"
             [formControl]="searchControl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of users$ | async" [value]="user.username" (onSelectionChange)="getSelectedUser(user)">
          <img alt="" class="example-option-img" [src]="user.picture" height="25">
          <span>{{user.fullname}}</span> |
          <small>followers: {{user.followers}}</small>

        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


<!--    <mat-form-field class="example-full-width">-->
<!--      <mat-label>State</mat-label>-->
<!--      <input matInput-->
<!--             aria-label="State"-->
<!--             [matAutocomplete]="auto1"-->
<!--             [formControl]="stateCtrl">-->
<!--      <mat-autocomplete #auto1="matAutocomplete">-->
<!--        <mat-option-->
<!--          *ngFor="let state of filteredStates | async"-->
<!--          [value]="state.name"-->
<!--          (onSelectionChange)="getSelectedCountry($event)">-->
<!--          <img alt="" class="example-option-img" [src]="state.flag" height="25">-->
<!--          <span>{{state.name}}</span> |-->
<!--          <small>Population: {{state.population}}</small>-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->


  </div>

  <div class="converter-form__btn">
    <button type="submit"
            mat-raised-button color="primary"
            (click)="getFormValue()">
      getFormValue()
    </button>
  </div>
</form>

<button mat-button (click)="openDialog()">Open dialog</button>

<!--<pre>{{users | json}}</pre>-->
<pre>{{postsSelectedUser | json}}</pre>

